<header>
  <div class="container">
    <div class="logo">
      {{ title }}
    </div>
  </div>
</header>

<main>
  <div class="container">
    <app-list-item
      *ngIf="listState.state === 'success'"
      [items]="listState.results"
    />
    <div *ngIf="listState.state === 'loading'">Ładowanie danych...</div>
    <div *ngIf="listState.state === 'error'">
      Błąd: {{ listState.error.message }}
    </div>
  </div>
  <button type="button" class="open-form" (click)="toggleForm(true)">
    <span>Add new campaign</span><mat-icon>add</mat-icon>
  </button>
  <div class="background" *ngIf="isFormOpen">
    <app-form (closeForm)="toggleForm(false)" />
  </div>
</main>

<router-outlet />
