<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__logo">
        {{ title }}
      </div>
      <div class="header__balance">{{ balance.toFixed(2) }} $</div>
    </div>
  </div>
</header>

<main>
  <div class="container">
    <app-list-item
      *ngIf="listState.state === listStateValue.SUCCESS"
      [items]="listState.results"
      (deleteInfo)="onDeleted($event)"
      (changeInfo)="onChanged($event)"
      (openForm)="toggleForm(true, true)"
      (formData)="getFormData($event)"
    />
    <div *ngIf="listState.state === listStateValue.LOADING">Loading...</div>
    <div *ngIf="listState.state === listStateValue.ERROR">
      Error: {{ listState.error.message }}
    </div>
  </div>
  <button type="button" class="open-form" (click)="toggleForm(true, false)">
    <span>Add new campaign</span><mat-icon>add</mat-icon>
  </button>
  <div class="background" *ngIf="isFormOpen">
    <app-form
      (closeForm)="toggleForm(false)"
      [listState]="listState"
      (addItemToList)="addItemToList($event)"
      (editItemToList)="editItemToList($event)"
      [editFormData]="formData"
      [isEdit]="isFormEdit"
    />
  </div>
</main>

<router-outlet />
