<ul class="list">
  <li *ngFor="let item of items.reverse()">
    <div class="item" [class.active]="item.status">
      <div class="item__wrapper">
        <div class="item__box">
          <strong class="item__name">{{ item.name }}</strong>
          <span>Amount: {{ item.amount.toFixed(2) }} $</span>
          <span>Fund: {{ item.fund.toFixed(2) }} $</span>
          <span>Town: {{ item.town }}</span>
          <span>Radius: {{ item.radius }} km</span>
          <span>Keywords: {{ item.keywords }}</span>
        </div>
        <div class="item__box">
          <button (click)="delete(item.id)" class="item__button" type="button">
            <mat-icon>delete</mat-icon>
          </button>
          <button (click)="editItem(item)" class="item__button" type="button">
            <mat-icon>edit</mat-icon>
          </button>
          <input
            (change)="changeStatus(item.id)"
            class="item__input"
            type="checkbox"
            [checked]="item.status"
          />
        </div>
      </div>
    </div>
  </li>
</ul>
