:root {
  // COLORS
  --main-color: dodgerblue;
  --secondary-color: gold;
  --background-color: #F2F2F2;
  --shadow-color: grey
  --font-color: #000;

  // FONTS
  --xl-font: 2em;
  --lg-font: 1.5em;
  --md-font: 1em;
  --sl: 0.5em;

}

body {
   margin: 0; 
   font-family: Roboto,  "Helvetica Neue", sans-serif;   
   margin: 0;
  background-color: var(--background-color);
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  cursor: pointer;
}

html, body { height: 100%; }
