<div class="window">
  <form
    class="form"
    [formGroup]="form"
    (ngSubmit)="
      listState.state === 'SUCCESS' && (isEdit ? editItem() : addItem())
    "
  >
    <div class="form__wrapper">
      <h2 class="form__title">Enter marketing campaign data</h2>
      <button class="form__close" type="button" (click)="onCloseForm()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="form__item">
      <label for="name">Name:</label>
      <input id="name" formControlName="name" />
    </div>
    <div class="form__item">
      <label for="amount">Amount: ($)</label>
      <input id="amount" type="number" formControlName="amount" />
    </div>
    <div class="form__item">
      <label for="fund">Fund: ($)</label>
      <input id="fund" type="number" formControlName="fund" />
    </div>
    <div class="form__item">
      <label for="town">Town:</label>
      <select id="town" formControlName="town">
        <option *ngFor="let town of towns" [value]="town.name">
          {{ town.name }}
        </option>
      </select>
    </div>
    <div class="form__item">
      <label for="radius">Radius: (km)</label>
      <input id="radius" type="number" formControlName="radius" />
    </div>
    <div class="form__textarea">
      <label for="keywords">Keywords:</label>
      <textarea id="keywords" formControlName="keywords"></textarea>
    </div>
    <div class="form__button">
      <button type="submit">
        {{ isEdit ? "Edit campaign" : "Add campaign" }}
      </button>
    </div>
  </form>
</div>
